<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "styles/main/main.css" %}">
    {% block styles %}{% endblock %}
</head>
<body>
<header class="main-header">
    <div class="main_header__wrapper xl-block">
        <ul class="main-header__navig">
            <li class="main-header__navig-item"><a href="{% url 'main_page_view' %}" class="main-header__logo">ToDoCRUD</a></li>
            <li class="main-header__navig-item"><a href="{% url 'main_page_view' %}" class="main-header__link">Home</a></li>
        </ul>
    </div>
</header>
<div class="content">
    {% block content %}

    {% endblock %}
</div>

<footer class="main-footer">
    <p class="main-footer__description">Designed and developed by BeHumb</p>
</footer>

<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>