<div class="todo-list">
    {% if todos %}
    {% for todo in todos %}
        <div class="todo-item" id="{{ todo.id }}">
            <div class="todo-item__info">
                <h2 class="todo-item__title">{{ todo.text }}</h2>
                <p class="todo-item__category">{{ todo.category|default:"No category" }}</p>
                <p class="todo-item__date">{{ todo.date }}</p>
            </div>
            <div class="todo-item__actions">
                <a class="todo-item__edit todo__btn" href="{% url 'edit_todo_view' todo.id %}">Edit</a>
                <a class="todo-item__delete todo__btn" href="{% url 'delete_todo_view' todo.id %}">Delete</a>
            </div>
        </div>

    {% endfor %}
    {% else %}
        <h2 class="todo-list__empty">List of TODOs is empty</h2>
    {% endif %}

</div>